html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

.cameras {
  max-width: 1366px;
  margin: 0 auto;
  padding: 20px;
}

.cameras__title {
  margin: 0 0 20px;
}

.cameras__list {
  display: grid;
  grid-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cameras__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 100%;
  background: rgba(0, 0, 0, 0.86);
}

.camera__video {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 850px) {
  .cameras__list {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }

  .cameras__item {
    min-height: 400px;
  }

  .cameras {
    padding: 20px 40px 0;
  }
}
